{"gprior_std": null, "n_h_layers": 3, "Tmin": 0.01, "datapoints_per_class": 50, "num_traj": 10, "Tmax": 1.0, "dt_initial": 0.1, "iterstoswap": 1, "image_sidel_use": 16, "traj_len": 100, "maxiter": 10000, "iterstosetdt": 25, "nproc": 16, "iterstowaypoint": 1, "nodes_per_h_layer": 40, "iterstowritestate": 1, "nT": 16, "absxmaxfac": 50.0, "runtoken": 1}