{"gprior_std": null, "ntraj_sample": 100, "ntimes_set_dt": 10, "absxmaxfac": 100000.0, "dt_initial": 0.1, "coords_file": "localmin_data50_h3_flin.txt", "nbridge": 100, "image_sidel_use": 16, "traj_len": 100, "T": 0.0001, "iterstowaypoint": 10, "nodes_per_h_layer": 40, "ntraj_burnin": 100, "datapoints_per_class": 50, "n_h_layers": 3, "runtoken": 1}